msg_about.png     CUSTOM msg_about.png
msg_digit.png     CUSTOM msg_digit.png
msg_game_over.png CUSTOM msg_game_over.png
msg_help.png      CUSTOM msg_help.png
msg_no_more.png   CUSTOM msg_no_more.png
msg_no_next.png   CUSTOM msg_no_next.png
msg_solved.png    CUSTOM msg_solved.png
msg_status.png    CUSTOM msg_status.png
pb_about.png      CUSTOM pb_about.png
pb_clear.png      CUSTOM pb_clear.png
pb_help.png       CUSTOM pb_help.png
pb_next.png       CUSTOM pb_next.png
pb_quit.png       CUSTOM pb_quit.png
